# This file describes the Python virtualenv package requirements for the Skybox services.
# These package requirements are typically installed via the command:
#   pip install -r requirements.txt
aiohttp
websockets
opencv-contrib-python
mediapipe
scikit-learn
pytest
pytest-asyncio
rpi.gpio
adafruit-circuitpython-neopixel

#rpi_ws281x
#RPi.GPIO
#adafruit-circuitpython-neopixel